@media screen and (min-width:800px){
#floor{
background:brown;
width:4320px;
height:75%;
position:absolute;
left:0px;
top:900px;
z-index:20;
}

body{
height:100%;
margin:0px;
}
.back{
background:navy;
width:3000px;
height:75%;
position:fixed;
left:0px;
top:0px;
z-index:-1;
}
.back1{
background:url('bg.png');
width:3000px;
height:75%;
position:absolute;
left:0px;
top:0px;
z-index:1;
}


#h51{
background:gray;
width:200px;
height:75%;
position:absolute;
top:200px;
left:2200px;
z-index:5;
}
#h52{
background:black;
width:300px;
height:75%;
position:absolute;
top:200px;
left:2400px;
z-index:5;
}
#h53{
background:gray;
width:400px;
height:100px;
position:absolute;
top:300px;
left:2100px;
z-index:5;
}
#h54{
background:black;
width:300px;
height:100px;
position:absolute;
top:300px;
left:2500px;
z-index:5;
}
#h55{
background:gray;
width:600px;
height:500px;
position:absolute;
top:400px;
left:2000px;
z-index:5;
}
#h56{
background:black;
width:300px;
height:500px;
position:absolute;
top:400px;
left:2600px;
z-index:5;
}

#h57{
background:black;
width:200px;
height:300px;
position:absolute;
top:600px;
left:2200px;
z-index:6;
}
.human{
background:url('1.png');
width:200px;
height:400px;
position:absolute;
top:600px;
left:200px;
z-index:6;
}
#X1{
background:dimgray;
width:80px;
height:400px;
position:absolute;
top:500px;
left:1400px;
z-index:4;
outline: 20px solid black;
}
#X2{
background:dimgray;
width:300px;
height:80px;
position:absolute;
top:600px;
left:1290px;
z-index:3;
outline: 20px solid black;
}
#X3{
background:gray;
background:url('14.bmp');
width:150px;
height:100px;
position:absolute;
top:590px;
left:1365px;
z-index:5;
outline: 2px solid black;
}
#x3:hover {
-webkit-transform: scale(3);
-moz-transform: scale(3);
-o-transform: scale(3);
}
#moon{
background:url('moon.png');
width:200px;
height:200px;
position:fixed;
top:px;
left:100px;
z-index:0;
}
#pr{
height:100%;
position:absolute;

}

}